.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  justify-self: center;
  gap: 0.8rem;
}

.backLink {
  margin-top: 1rem;
  color: rgb(39, 111, 255);
  font-size: 1.2rem;
  font-weight: 600;

  &:hover {
    color: rgb(34, 84, 186);
  }
}
