.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  &:hover,
  &:active {
    .image {
      opacity: 0.8;
    }
  }
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.content {
  padding: 1rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.artist {
  color: rgb(164, 165, 165);
}
